a {
  text-decoration: none;
  color: #7399be;
}

p {
  color: #f5f5f5;
}

h1, h2 {
  color: #f5f5f5
}

img {
  color: #f5f5f5
}

.archive {
  color: #BA5252
}

.spacer {
  flex-grow: 4;
}

body {
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #181717;
}
.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
}

.container {
  /* border: 1px solid black; */
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.flex-grid {
  display: flex;
  height: 75%;
  margin-top: 10;
}

.flex-grid .container {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col-sm {
  flex-grow: 1;
}

.flex-grid-thirds .col-lg {
  flex-grow: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row .col {
  padding: 10 10 10 10;
}

.inner {
  margin: 0 auto;
}

.logos {
  padding-top: 10px;
}

.nav-bar {
  background-color: #455A53;
  margin-bottom: 0px;
}

.page-title {
  text-align: center;
}

.post {
  background-color: #181717;
  /* border: 1px solid white; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  row-gap: 1ch;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.post-text {
  font-size: 18px;
}

.scrollContainer {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.title-link {
  margin: 1ch;
  font-size: 18px;
}

@media screen and (max-width: 40.5em) {
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 0px;
  }
  .post-text {
    font-size: 15px;
  }
  span {
    font-size: 12px;
  }
  .inner {
    width: auto;    
  }
  .title-link {
    font-size: 15px;
  }
}

.gradient {
  height: 10px;
  /* background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  Chrome 10-25, Safari 5.1-6 */
  /* background: #C6FFDD;  /* fallback for old browsers */
  background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);
}

.love {
  color: #C6FFDD;
}

.meh {
  color: #FBD786;
}

.skip {
  color: #f7797d;
}

.section-link-container {
  width: 100%
}

