.siteFooter {
  /**
    * Lay out the children of this container with
    * flexbox, which is horizontal by default.
    */
  display: flex;

  /**
    * Make the container put as much space as possible
    * between its children, with the children at either
    * end laying flush against the container's edges.
    */
  justify-content: space-between;

  padding: 10px;
  background-color: var(--bg-color);
}

.siteFooter__section {
  /**
    * Lay out the children of this container with
    * flexbox.
    */
  display: flex;

  /**
    * Align the children in the center, along
    * the main axis. By default the children will
    * align along their top edges.
    */
  align-items: center;
}

.siteFooter__item {
  padding: 5px 15px;
  font-size: 12px;
}

.siteFooter__item + .siteFooter__item {
  margin-left: 5px;
}

.siteFooter__item.is-site-header-item-selected {
  color: #FFFFFF;
  background-color: #415F69;
  border-radius: 4px;
}

.siteFooterLogo {
  font-size: 20px;
  line-height: 0;
  color: white;
}

.siteFooterButton {
  cursor: pointer;
  color: #D9E9EF;
}