main {
  flex: 1;
  overflow-y: scroll;
  /* margin: 0 auto; */
  -ms-overflow-style: none;
}

/* hides scrollbar */
/* main::-webkit-scrollbar {
  width: 0;
  height: 0;
} */


html, body {
  margin: 0;
  /* overflow-y: hidden;
  overflow-x: hidden; */
  height: 100%;
  /* background-color: 181717; */
}

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
  text-decoration: underline !important;
}

p {
  color: #f5f5f5;
}

h1, h2, h3 {
  color: #f5f5f5
}